{% extends "main.html" %}
{% block clients %}
    <div class="container pt-3">
{#    {% for request in requests %}#}
{#    <div class="card border-primary mb-3" style="color: #000;">#}
{#      <div class="card-header"><h2 class="">{{ request.user_business }} - <small>{{ request.user_fullname }}</small></h2></div>#}
{#      <div class="card-body">#}
{#        <h4 class="card-title"><a href="{{ url_for('requests', request_id=request.id) }}">{{ request.request_title }}</a></h4>#}
{#        <p class="card-text card-content">{{ request.request_body }}</p>#}
{#      </div>#}
{#    </div>#}
{#    {% endfor %}#}
    <table class="table table-hover table-striped" style="color: black">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Business</th>
          <th scope="col">Client Name</th>
          <th scope="col">Requests</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ user.business_name }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.requests|length }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock clients %}